<div>
    <div class="text-center row" align="center">
        <h1>Sondage sur la qualité des cours en Génie Électrique</h1>
    </div>
    <div class="row" align="center">
        <p>S'il vous plaît choisir les cours que vous avez suivis cette session.</p>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <div class="row text-center">
                <div class="">
                    <label>Rechercher:
                        <input ng-model="searchText">
                    </label>
                </div>
            </div>
            <div class="row text-center">
                <table id="searchTextResults" align="center">
                    <tr><th>Choisi</th><th>Sigle</th><th>Titre</th></tr>
                    <tr ng-repeat="cour in cours | filter:searchText">
                        <td><input type="checkbox" ng-model="cour[2]"> </td>
                        <td><a href="http://www.polymtl.ca/etudes/cours/details.php?sigle={{cour[0]}}" target="_blank">{{cour[0]}}</a></td>
                        <td>{{cour[1]}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="large-4 columns panel" ng-hide="selectedCourses.length==0">
            <div class="row">
                <h2>Cours choisis</h2>
            </div>
            <div class="row collapse" ng-repeat="cour in selectedCourses">
                <div class="small-10 columns">
                    <span class="prefix">{{cour[0]}}</span>
                </div>
                <div class="small-2 columns">
                    <a ng-click="cour[2]=false" class="button alert postfix">-</a>
                </div>
            </div>
            <div class="row text-center">
                <a href="#/questions"  class="button success">Continuer</a>
            </div>
        </div>
    </div>

</div>